<div *ngIf="cart$ | async as cart" class="mr-4">
  <button
    class="relative text-white hover:text-primary-100"
    (click)="toggle.emit()"
    title="cart"
  >
    <fa-icon icon="shopping-cart" class="mr-1"></fa-icon>
    <span
      class="absolute -right-4 -top-2 flex h-5 w-5 items-center justify-center rounded-full bg-primary-600 text-xs"
      [class.empty]="cart.quantity === 0"
      [class.cart-changed]="cartChangeIndication$ | async"
    >
      {{ cart.quantity }}
    </span>
  </button>
</div>
